<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeDetail.imagePath" alt="" class="img-responsive" style="max-height: 200px;">        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipeDetail.name}}</h1>
    </div>
</div>
<!-- <div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>
                Manage Recupe<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </div>
    </div>
</div> -->
<div class="row">
    <ul>
        <li><a (click)="onAddToShoppingList(recipeDetail.ingerdients)" [routerLink]="['/shoppingList']">To Shopping List</a></li>
        <li><a (click)="onEditRecipe()">Edit</a></li>
        <li><a>Delete</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipeDetail.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingerdientEl of recipeDetail.ingerdients">
                {{ingerdientEl.name}} - {{ingerdientEl.amount}}
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       Ingredient
    </div>
</div>
