<div class="card mb-3" style="max-width: 540px;">
    <a class="list-group-item clearfix" href="#" (click)="onSelect()">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]="recipeForItem.imagePath" alt="{{recipeForItem.name}}" style="max-height: 90px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{recipeForItem.name}}</h5>
                    <p class="card-text">{{recipeForItem.description}}</p>
                </div>
            </div>
        </div>
    </a>
</div>
